<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="dbDW" connectionString="Data Source=203.188.231.177;Initial Catalog=MGT_Datawarehouse;Connect Timeout=60000;User ID=sa;Password=*Mgt4free" providerName="System.Data.SqlClient" />
    
   </connectionStrings>
</configuration>